<div class="card border-0">
  <h2 class ="title">入出金履歴</h2>
    <div id="moneyTotal" class="text-center">
      <input type="month", value="<%= Time.now.strftime("%Y-%m") %>", id="searchDate", class="h5 py-2 text-center">
      <h3><span>収入</span> ¥<%= @incomeTotal.to_s(:delimited) %> - <span>支出</span> ¥<%= @expenseTotal.to_s(:delimited) %> = <span>収支</span> ¥<%= (@incomeTotal - @expenseTotal).to_s(:delimited) %></h1>
    </div>
      <div class="input_item" id="search">
        <ul class="nav nav-tabs nav-pills nav-fill">
          <li class="nav-item">
            <a href="#expense" class="nav-link active"  data-toggle="tab">支出</a>
          </li>
          <li class="nav-item">
            <a href="#income" class="nav-link" data-toggle="tab" >収入</a>
          </li>
        </ul>
        <div class="tab-content mt-3">
          <div class="tab-pane active" id="expense">
              <% if @expenses == [] %>
                <h5 class="text-center mt-5 nodata">登録されているデータがありません。</h2>
              <% end %>
            <div class="money_history">
              <div id="expenses-graph" class="px-3">
                <canvas id="expenses-chart" width="10" height="10"></canvas>
                <script>
                  var expensesCategory = [ 
                    {name:'食費', val: gon.foodVal, color: '#ffbcbc'},
                    {name:'水道光熱費', val: gon.utilityVal, color: '#bcffff'},
                    {name: '通信費', val: gon.phoneVal, color: '#ffffbc'},
                    {name: '交通費', val: gon.transportVal, color: '#bcbcff'},
                    {name:'美容費', val: gon.beautyVal, color: '#ddbcff'},
                    {name:'医療費', val: gon.medicalVal, color: '#bcffdd'},
                    {name: '被服費', val: gon.clothingVal , color: '#ffbcff'},
                    {name: '日用品', val: gon.dailyVal, color: '#ddffbc'},
                    {name: '教養費', val: gon.educationVal, color: '#bcddff'},
                    {name: '趣味・娯楽', val: gon.hobbyVal, color: '#ffddbc'},
                    {name: '住居費', val: gon.housingVal, color: '#ffbcdd'},
                    {name: "未分類", val: gon.unCateExpenseVal, color: '#c993ff'},
                  ];

                  expensesCategory.sort(function(a,b) {
                    return b.val - a.val
                  });

                  let expensesName = [];
                  let expensesVal = [];
                  let expensesColor =[];
                  for (let i = 0; i < expensesCategory.length; i++) {
                    expensesName.push(expensesCategory[i].name);
                    expensesVal.push(expensesCategory[i].val);
                    expensesColor.push(expensesCategory[i].color);
                  }

                  var ctx = document.getElementById('expenses-chart');
                  var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                      labels: expensesName,
                      datasets: [{
                        data: expensesVal, 
                        backgroundColor: expensesColor,
                      }],
                    },
                    options: {
                      legend: {
                        display: false
                      },
                      tooltips: {
                        callbacks: {
                          label: function(tooltipItem,data) {
                            return data.labels[tooltipItem.index]
                              + " : "
                              + data.datasets[0].data[tooltipItem.index].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') 
                              +' 円';
                          }
                        }
                      }                
                    }
                  });
                </script>
              </div>
              <div id="expenses-index" class="money_index">
                <table class="expenses-table">
                  <% @expenses.each do |e| %>
                    <tr data-href="#"  data-toggle="modal" data-target="#indexModal">
                      <input type="hidden" name="id" value="<%= e.id %>">
                      <td><%= e.created_at.strftime("%Y/%m/%d") %></td>
                      <td><%= e.expense_category&.name %></td>
                      <td>¥<%= e.expense.to_s(:delimited) %></td>
                      <td><%= e.details %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
              
              <div class="modal fade" id="indexModal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <%= form_for(:money, url: moneysUpdate_path) do |f| %>
                        <ul>
                          <%= f.hidden_field :id , class: 'trId' %>
                          <li><%= f.label :'金額'%>
                          <%= f.text_field :expense , class:'text-right trMoney' %></li>
                          <li><%= f.label :'カテゴリ'%>
                          <%= f.collection_select(:expense_category_id, ExpenseCategory.all, :id, :name, {prompt: false}, class: 'trCate') %></li>
                          <li><%= f.label :'日付'%>
                          <%= f.date_field :created_at, class: 'trDate' %></li>
                          <li><%= f.label :'内容'%>
                          <%= f.text_field :details, class: 'trDetail' %></li>
                          <li><%= f.submit '変更',name: 'update' ,class:'btn btn-warning font-weight-bold py-2 mt-4' %></li>
                          <li><%= f.submit '削除',name: 'destroy', class:'btn btn-light font-weight-bold py-2 mt-1' %></li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>  

            </div>
          </div>
          <div class="tab-pane" id="income">
              <% if @incomes == [] %>
                <h5 class="text-center mt-5 nodata">登録されているデータがありません。</h2>
              <% end %>
            <div class="money_history">
              <div id="incomes-graph" class="px-3">
                <canvas id="incomes-chart" width="400" height="400"></canvas>
                <script>
                  var incomesCategory = [
                    {name: "給与", val: gon.salaryVal, color: '#ffadd6'},
                    {name: "事業・副業", val: gon.sideIncomeVal, color: '#ffd6ad'},
                    {name: "未分類", val: gon.unCateIncomeVal, color: '#c993ff'},
                  ];

                  incomesCategory.sort(function(a,b) {
                    return b.val - a.val
                  });
                  
                  let incomesName = [];
                  let incomesVal = [];
                  let incomesColor = [];
                  for (let i = 0; i < incomesCategory.length; i++) {
                    incomesName.push(incomesCategory[i].name);
                    incomesVal.push(incomesCategory[i].val);
                    incomesColor.push(incomesCategory[i].color);
                  }

                  var ctx = document.getElementById('incomes-chart');
                  var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                      labels: incomesName,
                      datasets: [{
                        data: incomesVal,
                        backgroundColor: incomesColor,
                      }],
                    },
                    options: {
                      legend: {
                        display: false
                      },
                      tooltips: {
                        callbacks: {
                          label: function(tooltipItem,data) {
                            return data.labels[tooltipItem.index]
                              + " : "
                              + data.datasets[0].data[tooltipItem.index].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') 
                              +' 円';
                          }
                        }
                      }                     
                    }
                  });
                </script>
              </div>
              <div id="incomes-index" class="money_index">
                <table class="incomes-table">
                  <% @incomes.each do |i| %>
                    <tr data-href="#"  data-toggle="modal" data-target="#incomeModal">
                      <input type="hidden" name="id" value="<%= i.id %>">
                      <td><%= i.created_at.strftime("%Y/%m/%d") %></td>
                      <td><%= i.income_category&.name %></td>
                      <td>¥<%= i.income.to_s(:delimited) %></td>
                      <td><%= i.details %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
              <div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <%= form_for(:money, url: user_moneys_path) do |f| %>
                        <ul>
                          <li><%= f.label :'金額'%>
                          <%= f.text_field :expense , data: { autonumeric: { aSign: '¥ ', mDec: 0 } },class:'text-right trMoney' %></li>
                          <li><%= f.label :'カテゴリ'%>
                          <%= f.collection_select(:expense_category_id, IncomeCategory.all, :id, :name, {prompt: false}, class: 'trCate') %></li>
                          <li><%= f.label :'日付'%>
                          <%= f.date_field :created_at, class: 'trDate' %></li>
                          <li><%= f.label :'内容'%>
                          <%= f.text_field :details, class: 'trDetail' %></li>
                          <li><%= f.submit '変更',name: 'update' ,class:'btn btn-warning font-weight-bold py-2 mt-4' %></li>
                          <li><%= f.submit '削除',name: 'destroy', class:'btn btn-light font-weight-bold py-2 mt-1' %></li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
  
</div>
<%= javascript_include_tag "moneysIndex" %>


