<div class="card border-0">
  <h2 class ="title">目標</h2>
  <%= render partial:'layouts/flash' %>
    <div class="goal">
      <h2 class="totalGoal">----/--/--までに<br>￥----------貯金</h2>
      <div class="d-flex justify-content-center">
        <%# <h3>￥----------円達成！</h3> %>
        <button type="button" class="btn btn-warning goalBtn" data-toggle="modal" data-target="#goalModal">
          目標設定
        </button>
      </div>
      <div class="modal fade" id="goalModal" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              いつまでにいくら貯金するのか目標設定しよう！
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="goalModal-body py-2 mx-auto">
              <%= form_for(:goals, url: goal_path) do |f| %>
                <%= f.date_field :goal_deadline, value:Time.now.strftime("%Y-%m-%d") %>までに
                <%= f.number_field :goal_savings, style: 'width: 6em' %>円貯金！
            </div>
            <div class="modal-footer">
                <%= f.submit "登録", class:'btn btn-warning font-weight-bold py-2' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="idea">  
      <table>
        <tr>
          <th>項目</th>
          <th>対策方法</th>
          <th>貯金額</th>
          <th>期限</th>
          <th><i class="far fa-check-square fa-lg"></i></th>
        </tr>
        <% @goalTable.each do |g| %>
          <tr>
            <td><%= g.category %></td>
            <td><%= g.way %></td>
            <td class="hoge<%= g.id %>">￥<%= g.savings.to_s(:delimited) %></td>
            <td><%= g.deadline.strftime("%Y/%m/%d") %></td>
            <td><input type="checkbox" class="checkbox" name="<%= g.id %>" value="<%= g.check %>"></td>
          <tr>
        <% end %>
      </table>
      <div class="ideaBtn">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ideaModal">貯金方法追加</button>
      </div>
      <div class="modal fade" id="ideaModal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              貯金を増やすためにするべきことを考えよう！
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul>
                <%= form_for(:goals, url: goal_path) do |f| %>
                  <li>
                    <%= f.label :category, "項目" %>
                    <%= f.text_field :category %>
                  </li>
                  <li>
                    <%= f.label :way, "対策方法" %>
                    <%= f.text_field :way %>
                  </li>
                  <li>
                    <%= f.label :savings, "貯金額" %>
                    <%= f.number_field :savings %>
                  </li>
                  <li>
                    <%= f.label :deadline, "期限" %>
                    <%= f.date_field :deadline, value:Time.now.strftime("%Y-%m-%d") %>
                  </li>
                  <li>
                    <%= f.submit "追加", class:'btn btn-warning font-weight-bold py-2 my-4' %>
                  </li>
                <% end %>
              </ul>
          </div>
        </div>
      </div>

    </div>
</div>

<%= javascript_include_tag "goalNew" %>