<nav class="navbar nav sticky-top navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <%= link_to image_tag("logo.png", size: '200x60', alt: 'マネまねロゴ', class: 'img-responsive'), '/'  %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if logged_in? %>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
        <ul class="navbar-nav d-flex align-items-center">
          <li>
            <a href='/users/<%= session[:user_id] %>/moneys/new'>
              <%= image_tag 'input.png', size: '70x90',alt: '入出金入力' %>
            </a>
          </li>
          <li>
            <a href='/users/<%= session[:user_id] %>/moneys' id="money-index">
              <%= image_tag 'history.png', size: '70x90',alt: '入出金履歴' %>
            </a>
          </li>
          <li>
            <a href='/users/<%= session[:user_id] %>/moneys/graph'>
              <%= image_tag 'graph2.png', size: '70x90',alt: 'グラフ' %>
            </a>
          </li>
          <li>
            <a href='#'>
              <%= image_tag 'graph.png', size: '70x90',alt: 'みんなの平均' %>
            </a>
          </li>
          <li>
            <a href='#'>
              <%= image_tag 'pig.png', size: '70x90',alt: '目標' %>
            </a>
          </li>
          <li>
            <a href="/users">
              <%= image_tag 'config.png', size: '70x90', alt: '設定' %>
            </a>
          </li>
          <li>
            <a href="/users/<%= session[:user_id] %>">
              <%= image_tag User.find(session[:user_id]).avatar.url, size: '80x80', class: 'user-icon' %>
            </a>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="col-md-3 d-flex justify-content-center text-end">
          <button type="button" class="btn btn-dark mr-3"><%= link_to 'ログイン', login_path, class: 'text-decoration-none text-white'%></button>
          <button type="button" class="btn btn-warning "><%= link_to '新規登録', signup_path, class: 'text-decoration-none text-dark'%></button>
      </div>
    <% end %>
  </div>
</nav>
  