<!DOCTYPE html>
<html>
  <head>
    <title>MoneyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    

  </head>

  <body>
  
    <%= render partial:'layouts/header' %>
    <%= yield %>
    
  </body>
</html>
