<!DOCTYPE html>
<html>
  <head>
    <title>MoneyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    

  </head>

  <body>
  
    <%= render partial:'layouts/header' %>
    <div class="d-flex justify-content-center">
      <div class="flash-message w-25">
        <% flash.each do |message_type, message| %>
          <div class="text-center alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
    </div>
    <%= yield %>

    <script>
      $(function(){
        $('.alert').slideUp(3000); });
    </script>

  </body>
</html>
